<mat-card appearance="outlined">
  <mat-card-header>
    <p>Delete Account</p>
  </mat-card-header>
<br>
<mat-card-content>
  <form [formGroup]="deleteUserFormGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="id" [placeholder]="idPladeholder"/>
    </mat-form-field>
    <button mat-stroked-button [disabled]="!deleteUserFormGroup.valid">Delete user</button>
  </form>
  <div *ngIf="deleteUserResult.length > 0">{{deleteUserResult}}</div>
</mat-card-content>
</mat-card>
