<mat-card appearance="outlined">
  <mat-card-header>
    <p>Product</p>
  </mat-card-header>
<mat-card-content>
<form [formGroup]="productIdFormGroup" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput formControlName="productId" [placeholder]="PlaceholderProductId"/>
  </mat-form-field>
  <button mat-stroked-button [disabled]="!productIdFormGroup.valid">Get product</button>
</form>
<br>
<ng-container *ngIf="product.id != undefined">
  <div class="commonTextColor">Product Id: {{product.id}}</div>
  <div class="commonTextColor">Name: {{product.name}}</div>
  <div class="commonTextColor">Code: {{product.code}}</div>
  <div class="commonTextColor">Description: {{product.description}}</div>
  <div class="commonTextColor">Url Picture: {{product.urlPicture}}</div>
  <div class="commonTextColor">Price: {{product.price}}</div>
</ng-container>
</mat-card-content>
</mat-card>
